Course Assets
/Reactivities/.vs/Reactivities
/Reactivities/API/obj
/Reactivities/Application/obj
/Reactivities/Domain/obj
/Reactivities/Persistence/obj
/Reactivities/API/bin/Debug/netcoreapp3.0
/Reactivities/Application/bin/Debug/netstandard2.0
/Reactivities/Domain/bin/Debug/netstandard2.0
/Reactivities/Persistence/bin/Debug/netstandard2.0
/Reactivities/Application/bin/Debug/netcoreapp3.0
/Reactivities/Persistence/bin/Debug/netcoreapp3.0
/Reactivities/Persistence/bin/Debug/netstandard2.1
/Reactivities/.idea
/Reactivities/react-client/.vs/react-client/v16
Reactivities/API/API.csproj.user
Reactivities/react-client/.vs/slnx.sqlite
